<!DOCTYPE html>
<html>
<head>
    <title>Tourist Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Smart Tourist Safety System</h1>
</header>

<div class="container">
    <h2>Tourist Login</h2>

    <form method="post" action="/login/">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p class="link">
        New user? <a href="register.html">Register here</a>
    </p>
</div>

</body>
</html>
